<%= notice %>
<p>Login Page</p>

<% form_tag  url_for(:controller => 'users',:action => 'login_attempt') ,:id => 'login' do %>
	
	<p>Username
	<%= text_field_tag :Username %>
	</p>
	
	<p>Password
		<%= password_field_tag :login_pass %>
	</p>
	
	<p>
		<%= submit_tag(:login ,:class => 'but') %>
	</p>
<% end %> 