
 
   <!-- <div id="leftside"></div> -->
    <div id="leftside">
        <div ng-app="firstApp">
        <a ui-sref='post'>click here to see all details</a> <br/>
        <a ui-sref="add">Add user</a><br/>
      <!-- <input type='text' ng-model='id'>
        <a ui-sref="show({userId: id })">click to see name of entered user</a>
         --><div ui-view></div>
    </div>