
 <div ng-app="firstApp">
   <!-- <div id="leftside"></div> -->
    <div id="leftside">
       <div ui-view="postview"></div>
     <a ui-sref="add" class="but1">Add button</a>
      </div>
     <div ui-view="contentview" id="contents" ></div> 
     <div ui-view="addview"> </div>
     
</div>
