	
#header{
	width: 100%;
	height: 10%;
	background-color: black;
	font-style: italic;
	font-family: times new roman;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-top: 40px;
	font-weight: bold;
	text-transform: uppercase;
	
}

p{
	color: crimson;
	/*margin-left: 200px;*/
	width: auto;
}
textarea{
	width: 300px;
	height: 150px;
}
#leftside{

	width: 18%;
	height: 650px;
	background-color: pink;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 10px;
	text-transform: uppercase;
	float:left;

}

.but{
	text-decoration: none;
	background-color: white;
	position: relative;
	margin-top: 20px;
	color: brown;
	text-transform: capitalize;
	font-size: 20px;
	border-radius: 25px;
	text-align: center;
	height: 50px;
}
.but1{

	text-decoration: none;
	background-color: blue;
	position: relative;
	margin-top: 20px;
	color: white;
	text-transform: capitalize;
	font-size: 20px;
	border-radius: 25px;
	text-align: center;
	height: 50px;
}
.regbut{
	text-align: center;
	width: 80px;
	border-radius: 25px;
	background-color: black;
	float: right;
	text-decoration: none;
	background-color: grey;
	color: yellow;
	margin-right: 10px;
}
.addlink{

	text-align: center;
	width: 150px;
	border-radius: 25px;
	background-color: black;
	float: right;
	text-decoration: none;
	background-color: grey;
	color: yellow;
	margin-right: 100px;
	margin-top: 100px;
}
.linktype1{

	text-align: center;
	width: 150px;
	height: 30px;
	border-radius: 25px;
	background-color: black;
	text-decoration: none;
	background-color: grey;
	color: yellow;
	text-transform: uppercase;
	margin-left: 500px;
	margin-top: 10px;
	}

.linktype2{

	text-align: center;
	width: 150px;
	height: 30px;
	margin-top: 0px;
	border-radius: 25px;
	background-color: black;
	text-decoration: none;
	background-color: grey;
	color: yellow;
	text-transform: uppercase;
	margin-left: 900px;
	}
#mild{
	font-size: 15px;
	color: grey;
	font-style: italic;
	text-transform: capitalize;

}

.main{
	width: 20%;
	
}
.show{
	display: block;
}

.hide{
	display: none;
}

#counter{
	position: relative;
	text-align: center;
	color: orange
	text-decoration: blink;
}

.hide_bg{
	background-color: white;
}
.show_bg{
	background-color: cyan;
}
#contents{
	padding-left: 100px;
	margin-left: 200px;
	font-size: 20px;
	font-style: italic;
	width: 300px;
	color: green;

}

#comment{
	color: red;
	text-transform: capitalize;
}
.regbut:hover{
	color: pink
}
.regbut:active{
	color: blue
}

#withtitle{
	display: none;	
	border-radius: 25px;
	background-color: pink;
}
#withouttitle{
	display: none;
	border-radius: 25px;
	background-color: pink;
}