<html>
<title>Angular app</title>
    <head>
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
        <script src="javascripts/angular.min.js"></script>
        <script type="text/javascript"  src="javascripts/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="javascripts/restangular.min.js"></script>
        <script type="text/javascript" src="javascripts/lodash.js"></script>
        <script type="text/javascript" src="javascripts/dirPagination.js"></script>
        <script type="text/javascript" src="/javascripts/dashboard.js"></script>
        <script type="text/javascript" src="/javascripts/post_dir.js"></script>
        <script type="text/javascript" src="/javascripts/angularjquery.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/counterstyle.css">
    </head>
<%= yield %>
</html>