<div class="row"> 
  <div class="col-3" >
    <% @posts.each do |post| %>    
            <%= link_to post.countryname, post %>
    <% end %>
  </div>
</div>
<div class="col-6" >
  <p id="showdetails" ></p>
</div>
<br />
