<p>
  <b>Countryname:</b>
  <%=h @post.countryname %>
</p>

<p>
  <b>Description:</b>
  <%=h @post.description %>
</p>

<p>
  <b>Clickcount:</b>
  <%=h @post.clickcount %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> 
