<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <% form_for(@comment, :url=>country_comments_path(@country)) do |f| %>
      <p>
        <%= f.label :commentbody %><br />
        <%= f.text_area :commentbody%>
      </p>
      <p>
        <%= f.submit "Create" %>
        <p><%=notice%></p>
      </p>
    <% end %>
  </div>
  <div class="col-2"></div>
</div>
