*{
    box-sizing: border-box;
}
body{
	margin: 0;
}
header{
	margin:0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#FFF;
	font-size: 30px;
	text-align: center;
	background: #000;
	background: -moz-radial-gradient(#4d4d4d 10%, #000 60%);
    background: radial-gradient(#4d4d4d 10%, #000 60%);
}
section{		
	width: 100%;
}
footer{
	margin-bottom: 0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom	: 10px;
	background-color: #333333;
	color:#000;
	font-size: 15px;
	text-align: center;
	background: -moz-radial-gradient(#4d4d4d 10%, #000 60%);
	background: radial-gradient(#4d4d4d 10%, #000 60%);
}
.row{
	display: block;
}
#buttons{
	padding: 0;
	text-align: center;
}
#buttons ul{
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
#buttons ul li{
	padding: 0;
	margin-bottom: 7px;	
	color: #000;
}
button {
	width: 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
