*{
    box-sizing: border-box;
}
body{
	margin: 0;
}
p {
    text-indent: 50px;
}
header{
	margin:0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#FFF;
	font-size: 30px;
	text-align: center;
	background: #000;
	background: -moz-radial-gradient(#4d4d4d 10%, #000 60%);
    background: radial-gradient(#4d4d4d 20%, #000 60%);
}
section{		
	width: 100%;
	height:589px;
}
footer{
	height:40px;
	margin:0px;
	width: 100%;
	padding-top: 10px;
	padding-bottom	: 10px;
	background-color: #333333;
	color:#FFF;
	font-size: 15px;
	text-align: center;
	background: -moz-radial-gradient(#4d4d4d 10%, #000 60%);
	background: radial-gradient(#4d4d4d 20%, #000 60%);
}
.row{
	display: block;
}
.row p{
	font-size: 20px;
}
#show{
	background-color:#99ccff;
	padding:20px; 
	width:100%;
	text-align: center;
	border:1px solid red;
}
#buttons{
	padding: 30px;
	text-align: center;
}
#buttons ul{
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}
#buttons ul li{
	padding: 20px;
	margin-bottom: 7px;	
	color: #000;
}
#title,#show{
	text-indent: 0px;
}
#showdetails{
	text-align: justify;
}
button{
	width: 70%;
    background-color: #4CAF50; 
    border: none;
    border-radius: 15px;
  	box-shadow: 0 9px #999;
    color: white;
   	margin: 0px;
    left:0;
    padding: 15px ;
    position: relative;
    margin-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;    
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*button:nth-of-type(5) {
    background: #ff0000 !important;
}*/
.cl-black{
	color: black;
}
.cl-red{
	color:red;
}
.cl-blue{
	color:blue;
}
.cl-green{
	color:green;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
