<div ng-app="firstApp" >
	<div ui-view="header">		
	</div>
	<div class="row">
		<div class="col-12">
	    	<div ui-view="countries">	    		
	    	</div>
	    </div>	    
    </div>
    <div ui-view="footer"></div>
</div>