<div ng-app="firstApp" >
	<header-application>Ramesh</header-application>		
	<div class="row">
		<div class="col-12">	    	
	    	<country>	    	
	    	</country>
	    </div>	    
    </div>
    <footer-application></footer-application>
    
</div>