<%= notice %>

<%= will_paginate @comments %>
<% for comment in @comments %>

	<p>Name</p>
  <%= comment.user.name %>
  <p>Comments</p>
	<%= comment.feedback %><br>

<% end %>

<% if @comments.empty? %>
<p> no comments posted </p>
<% end %>

