
<%= will_paginate @comments %>

<% for comment in @comments %>
<tr>
	<p>Name</p>
	<p>Comments</p>
	<td><%=h comment.feedback %><br></td>
</tr>
<% end %>

<% if @comments.empty? %>
<p> no comments posted </p>
<% end %>

