<div class="row">
	<div class="col-3" >
		<% @country.each do |c| %>
			<%= link_to c.countryname+"<br />"+truncate( c.countrydesc, :length => 17), c %><br/>
		<% end %>
	</div>
	<div class="col-7" >
		<div id="descBody">
		<p id="showdetails">Please Click Any Country!..</p>
		<p id="showlinks"></p>
		</div>
	</div>
	<div class="col-2">
		<%= link_to 'Add New Country', new_country_path %>
	</div>
</div>
